{#=====================================================
  Home page
=====================================================#}
{% extends 'pages/_base.jinja' %}


{% block content %}

    <h1 class="welcome">welcome to your home page</h1>

    <a class="button home-page" href="/messages">Read Messages</a>

{% endblock %}