{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/_base.jinja' %}

{% block content %}
<h2>Messages</h2>

{% for message in messages %}

    <div class="pet-message">
        <h2>{{ message["pet_name"] }}</h2>

    <p><strong>Pet type:</strong> {{ message.pet_type }}</p>
    <p><strong>gender:</strong> {{ message.gender }}</p>
    <p><strong>Location:</strong> {{ message.location }}</p>
    <p><strong>Date lost:</strong> {{ message.date_lost }}</p>
    <p><strong>Description:</strong> {{ message.description }}</p>
    </div>

    {% if session["logged_in"] and message["user_id"] == session["user"]["id"] %}
    <a href="/message/{{ message['id'] }}/delete"
        onclick="return confirm('Do you really want to delete this report?')"
    >   <button type="button">Delete</button>
    </a>
    {% endif %}

{% else %}

    <p>No pets have been reported yet.</p>

{% endfor %}
</div>
    </section>
{% endblock %}

