{#=====================================================
  Home page
=====================================================#}
{% extends 'pages/_base.jinja' %}

{% block content %}     
<form method="post" action="/messages">
    <h3>New Note</h3>

    <label>
        pet name
        <input name="pet_name" type="text" placeholder="e.g. jack" required>
    </label>

    <label>
        pet type
        <textarea name="pet_type" placeholder="e.g. dog, cat, parrot" required></textarea>
    </label> 

    <label>
        breed
        <textarea name="breed " placeholder="e.g. girl" required></textarea>
    </label>

    <label>
        location
        <textarea name="location" placeholder="e.g. last seen the pet" required></textarea>
    </label>

    <label>
        date lost
        <textarea name="date_lost" placeholder="e.g. 10/05/2026" required></textarea>
    </label>

    <label>
        description
        <textarea name=" description" required></textarea>
    </label>

    <button>send details</button>
</form>

{% endblock %}
