{#=====================================================
  Home page
=====================================================#}
{% extends 'pages/_base.jinja' %}

{% block content %}

    <h2>Sign Up</h2>

    <form method="post" action="/user">

        <label>
            firstname
            <input type="text" name="firstname" required>
        </label>

        <label>
            lastname
            <input type="text" name="lastname" required>
        </label>

        <label>
            Username
            <input type="text" name="username" required>
        </label>

        <label>
            Password
            <input type="password" name="password" required>
        </label>

        <button>Submit</button>
    </form>

{% endblock %}
