/*===========================================================
  PROJECT NAME HERE
  By YOUR NAME HERE
===========================================================*/

:root {
    --text-col:         #111;

    --back-col:         #eee;
    --back-col-panel:   #fff;

    --border-col:       #355;

    --accent-col:       rgb(40, 152, 226);
}


/* Overall Layout -----------------------------------------------*/

html {
    background-color: var(--back-col);
    color: var(--text-col);

    font-family: system-ui, sans-serif;
}


body {
    min-height: 100dvh;
}


main {
    max-width: 40rem;
    margin-inline: auto;
    align-items: center;
    padding: 2rem;
    padding: var(--padding);
    border: solid;
    background-color: #c5c7c5;
    border-color: #000;
    border-radius: 10px ;
    border-width: 2px;
    box-shadow: var(--drop-shadow);
}


/* Header & Nav -----------------------------------------------*/

body > header {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    nav {
        display: flex;
        gap: 4rem;
}
        a {
            color: var(--accent-col);
            padding: 2rem;
            padding: var(--padding);
            border: solid;
            background-color: #c5c7c5;
            border-color: #000;
            border-radius: 10px ;
            border-width: 2px;
            box-shadow: var(--drop-shadow);
        }
    }
}


/* Page Headings -----------------------------------------------*/

main > h2 {
    font-size: 3rem;
    text-align: center;
    margin-block: 5rem;
}


/* Home --------------------------------------------------*/

#main > h1.home_page {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));
    align-items: start;

    main >h2 {
        padding: 1rem;
        box-shadow: 0 0.5rem 1rem #0004;
        border: 1px solid var(--border-col);
        background-color: var(--back-col-panel);

        header {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        footer {
            font-size: 0.8rem;
            font-style: italic;
        }

        &.pinned {
            border-color: var(--accent-col);
        }
    }
}

