/*===========================================================
  PROJECT NAME HERE
  By YOUR NAME HERE
===========================================================*/

:root {
    --text-col:         #111;

    --back-col:         #eee;
    --back-col-panel:   #fff;

    --border-col:       #355;

    --accent-col:       rgb(40, 152, 226);
}


/* Overall Layout -----------------------------------------------*/

html {
    background-color: var(--back-col);
    color: var(--text-col);

    font-family: system-ui, sans-serif;
}


body {
    min-height: 100dvh;
}


main {
    max-width: 40rem;
    margin-inline: auto;
    align-items: center;
    padding: 2rem;
    border: solid;
    background-color: #c5c7c5;
    border-color: #000;
    border-radius: 10px ;
    border-width: 2px;
    box-shadow: var(--drop-shadow);
}


/* Header & Nav -----------------------------------------------*/

body > header {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    nav {
        display: flex;
        gap: 4rem;
}
        a {
            color: var(--accent-col);
            padding: 0.5rem;
            border: solid;
            background-color: #c5c7c5;
            border-color: #000;
            border-radius: 10px ;
            border-width: 2px;
            box-shadow: var(--drop-shadow);
        }
    }
}


/* Page Headings -----------------------------------------------*/

main > h2 {
    font-size: 3rem;
    text-align: center;
    margin-block: 5rem;
}



/* Forms ------------------------------------------------------- */

form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    input, select{
        width: min-content;
    }
}
